*{
    background-color: rgb(83, 83, 41);
}
p{font-size: 25px;}

table, th, tr,td{
    border: 2px solid;
}

.arriba{
    color: rgb(177, 27, 27);
}

.medio{
    color: rgb(15, 37, 34);
}

p{
    color: rgb(87, 9, 9);
}
#en1
 {
    front-weight: 400;
 }
 
